
.title-container {
    
    font-size:3rem;
    padding: 15rem;
    margin:0 auto;
    text-align:center;
    position:relative;
    background-image: url("../assets/home.png");
    background-origin:padding-box;
    background-repeat: no-repeat;
    display:block;

    button {
        width: 15rem;
        height:3rem;
        .button(white, 0);
    }
    
    }


.artists-container{
    display:flex;

    .artist{
        flex-direction:row;
        display: block;
        align-items: center;
        width:50%;
        align-content: center;
        text-align:center;
        padding:2rem;
        
        
        img{
            width:95%;
            height:22rem;
            .roundImg();

            
        }

        
    
    }//This closes artist
}//THis closes container
